*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    height: auto;
}

p{
    height: auto;
    text-align: center;
    font-family: 'Arial', Times, serif;
}

#container{
    padding: 10px;
    margin: 0 auto;
    width: 50%;
    height: 500px;
    border: 2px solid black;
    background-color: aqua;
}

#post{
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

#header{
    font-size: 1.5rem;
    width: 90%;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    height: 100px;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2{
    text-align: center;
    align-content: center;
    
}

img{
    height: 50px;
    width: 50px;
}

footer{
    font-size: 24px;
    background-color: #918888;
    color: aliceblue;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 50px;
}
